# https://www.debian.org/doc/debian-policy/ch-controlfields.html

Source: rabbitremotecontrol
Section: main
Priority: optional
Maintainer: Kang Lin <kl222@126.com>
Build-Depends: debhelper(>=13), debhelper-compat(=13), fakeroot, cmake(>=3.21),
 libssl-dev, libcrypt-dev, libcmark-dev,
 qt6-tools-dev, qt6-tools-dev-tools, qt6-base-dev, qt6-base-dev-tools,
 qt6-qpa-plugins, libqt6svg6-dev, qt6-l10n-tools, qt6-translations-l10n,
 qt6-scxml-dev, qt6-multimedia-dev,
 freerdp2-dev, libvncserver-dev, libpcap-dev
Standards-Version: 4.6.2
Homepage: https://github.com/KangLin/RabbitRemoteControl
Vcs-Git: https://github.com/KangLin/RabbitRemoteControl.git
Vcs-Browser: https://github.com/KangLin/RabbitRemoteControl
Rules-Requires-Root: binary-targets

Package: rabbitremotecontrol
Section: net
Architecture: any
#Pre-Depends: ${misc:Pre-Depends}
Suggests: libqt6svg6
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: rabbitcommon (>=2.3.2)
Description: Rabbit Remote Control
 Rabbit remote control is  is a cross-platform,
 multi-protocol remote control software.
 .
 Allows you to use any device and system in anywhere and remotely manage
 any device and system in any way. 
 .
 It's goal is to be simple, convenient, security and easy to use, improving work efficiency.
 .
 It include remote desktop, remote control, file transfer(FTP, SFTP),
 terminal, remote terminal(SSH, TELNET), player, network tools etc functions.
 .
 Author: Kang Lin <kl222@126.com>
 .
 Donation:
 .
 https://github.com/KangLin/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 .
 https://gitee.com/kl222/RabbitCommon/raw/master/Src/Resource/image/Contribute.png
 .
 https://gitlab.com/kl222/RabbitCommon/-/raw/master/Src/Resource/image/Contribute.png
