[Desktop Entry]
Type=Application
Icon=RabbitRemoteControl
Exec=/opt/RabbitRemoteControl/bin/RabbitRemoteControlApp
Terminal=false
StartupNotify=true
Categories=Application;Development;Tools

Name=Rabbit Remote Control
GenericName=Rabbit Remote Control
Comment=Rabbit Remote Control

Name[zh_CN]=玉兔远程控制
GenericName[zh_CN]=玉兔远程控制
Comment[zh_CN]=玉兔远程控制

Name[zh_TW]=玉兔遠程控製
GenericName[zh_TW]=玉兔遠程控製
Comment[zh_TW]=玉兔遠程控製
