#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#export QT_SELECT=qt5

ifdef FreeRDP_DIR
    PARAS += -DFreeRDP_DIR=${FreeRDP_DIR}
endif

ifdef FreeRDP-Client_DIR
    PARAS += -DFreeRDP-Client_DIR=${FreeRDP-Client_DIR}
endif

# Because "-" is not used by export
ifdef FreeRDP_Client_DIR
    PARAS += -DFreeRDP-Client_DIR=${FreeRDP_Client_DIR}
endif

ifdef WinPR_DIR
    PARAS += -DWinPR_DIR=${WinPR_DIR}
endif

ifdef FreeRDP-Server_DIR
    PARAS += -DFreeRDP-Server_DIR=${FreeRDP-Server_DIR}
endif

# Because "-" is not used by export
ifdef FreeRDP_Server_DIR
    PARAS += -DFreeRDP-Server_DIR=${FreeRDP_Server_DIR}
endif 

ifdef FreeRDP-Shadow_DIR
    PARAS += -DFreeRDP-Shadow_DIR=${FreeRDP-Shadow_DIR}
endif

# Because "-" is not used by export
ifdef FreeRDP_Shadow_DIR
    PARAS += -DFreeRDP-Shadow_DIR=${FreeRDP_Shadow_DIR}
endif

ifdef RabbitVNC_DIR
    PARAS += -DRabbitVNC_DIR=${RabbitVNC_DIR}
endif

ifdef tigervnc_DIR
    PARAS += -Dtigervnc_DIR=${tigervnc_DIR}
endif

ifdef LibVNCServer_DIR
    PARAS += -DLibVNCServer_DIR=${LibVNCServer_DIR}
endif

ifdef QtService_DIR
    PARAS += -DQtService_DIR=${QtService_DIR}
endif

ifdef LibDataChannel_DIR
    PARAS += -DLibDataChannel_DIR=${LibDataChannel_DIR}
endif

ifdef QXmpp_DIR
    PARAS += -DQXmpp_DIR=${QXmpp_DIR}
endif

ifdef Log4Qt_DIR
    PARAS += -DLog4Qt_DIR=${Log4Qt_DIR}
endif

ifdef qtermwidget5_DIR
    PARAS += -Dqtermwidget5_DIR={qtermwidget5_DIR}
endif

ifdef BUILD_DOCS
    PARAS += -DBUILD_DOCS=${BUILD_DOCS}
endif

ifdef BUILD_VIEWER_TERMINAL
    PARAS += -DBUILD_VIEWER_TERMINAL=${BUILD_VIEWER_TERMINAL}
endif

ifdef INSTALL_DIR
    LIB_PARAS += ${INSTALL_DIR}/lib
endif

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
BUILD_DIR = "build_$(DEB_HOST_MULTIARCH)"
PACKAGE_DIR = "debian/rabbitremotecontrol"

%:
	dh $@

# Debian 维护者指南: https://www.debian.org/doc/manuals/debmake-doc/index.zh-cn.html
# Debian 新维护者手册: https://www.debian.org/doc/manuals/maint-guide/dreq.zh-cn.html#rules
# See: man debhelper
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure -B$(BUILD_DIR) -- -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
            -DBUILD_FREERDP=ON \
            -DCMAKE_INSTALL_PREFIX=/opt/RabbitRemoteControl \
            -DRabbitCommon_ROOT=${RabbitCommon_ROOT} \
            -DCMARK_SHARED=OFF \
            -DCMARK_TESTS=OFF \
            -DCMARK_STATIC=ON \
            ${PARAS}

override_dh_auto_build:
#	dh_auto_build --parallel $(nproc) -B$(BUILD_DIR)
	cmake --build $(BUILD_DIR) --config Release --parallel $(nproc)

override_dh_auto_install:
	cmake --install $(BUILD_DIR) --config Release \
		--component DependLibraries \
		--prefix $(PACKAGE_DIR)/opt/RabbitRemoteControl
	cmake --install $(BUILD_DIR) --config Release \
		--component Runtime \
		--prefix $(PACKAGE_DIR)/opt/RabbitRemoteControl
	cmake --install $(BUILD_DIR) --config Release \
		--component Application \
		--prefix $(PACKAGE_DIR)/opt/RabbitRemoteControl	
	cmake --install $(BUILD_DIR) --config Release \
		--component Plugin \
		--prefix $(PACKAGE_DIR)/opt/RabbitRemoteControl

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l`pwd`/$(PACKAGE_DIR)/opt/RabbitRemoteControl/lib:`pwd`/$(PACKAGE_DIR)/opt/RabbitRemoteControl/lib/`uname -m`-linux-gnu:$(LIB_PARAS)

override_dh_builddeb:
	dh_builddeb --package=rabbitremotecontrol -P$(PACKAGE_DIR)
