#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#export QT_SELECT=qt5

ifdef FreeRDP_DIR
    PARAS += -DFreeRDP_DIR=${FreeRDP_DIR}
endif

ifdef FreeRDP-Client_DIR
    PARAS += -DFreeRDP-Client_DIR=${FreeRDP-Client_DIR}
endif

# Because "-" is not used by export
ifdef FreeRDP_Client_DIR
    PARAS += -DFreeRDP-Client_DIR=${FreeRDP_Client_DIR}
endif

ifdef WinPR_DIR
    PARAS += -DWinPR_DIR=${WinPR_DIR}
endif

ifdef FreeRDP-Server_DIR
    PARAS += -DFreeRDP-Server_DIR=${FreeRDP-Server_DIR}
endif 

# Because "-" is not used by export
ifdef FreeRDP_Server_DIR
    PARAS += -DFreeRDP-Server_DIR=${FreeRDP_Server_DIR}
endif 

ifdef FreeRDP-Shadow_DIR
    PARAS += -DFreeRDP-Shadow_DIR=${FreeRDP-Shadow_DIR}
endif

# Because "-" is not used by export
ifdef FreeRDP_Shadow_DIR
    PARAS += -DFreeRDP-Shadow_DIR=${FreeRDP_Shadow_DIR}
endif

ifdef RabbitVNC_DIR
    PARAS += -DRabbitVNC_DIR=${RabbitVNC_DIR}
endif

ifdef tigervnc_DIR
    PARAS += -Dtigervnc_DIR=${tigervnc_DIR}
endif

ifdef QtService_DIR
    PARAS += -DQtService_DIR=${QtService_DIR}
endif

ifdef LibDataChannel_DIR
    PARAS += -DLibDataChannel_DIR=${LibDataChannel_DIR}
endif

ifdef QXmpp_DIR
    PARAS += -DQXmpp_DIR=${QXmpp_DIR}
endif

ifdef Log4Qt_DIR
    PARAS += -DLog4Qt_DIR=${Log4Qt_DIR}
endif

ifdef qtermwidget5_DIR
    PARAS += -Dqtermwidget5_DIR={qtermwidget5_DIR}
endif

ifdef BUILD_DOCS
    PARAS += -DBUILD_DOCS=${BUILD_DOCS}
endif

ifdef BUILD_VIEWER_TERMINAL
    PARAS += -DBUILD_VIEWER_TERMINAL=${BUILD_VIEWER_TERMINAL}
endif

ifdef INSTALL_DIR
    LIB_PARAS += ${INSTALL_DIR}/lib
endif

%:
	dh $@

# dh_make generated override targets
# This is example for Cmake ( See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
            -DBUILD_FREERDP=ON \
            -DCMAKE_INSTALL_PREFIX=/opt/RabbitRemoteControl \
            -DRabbitCommon_DIR=${RabbitCommon_DIR} \
            -DCMARK_SHARED:BOOL=ON \
            -DCMARK_TESTS:BOOL=OFF \
            -DCMARK_STATIC=OFF ${PARAS}
#-DQt6_DIR=${QT_ROOT}/lib/cmake/Qt6

override_dh_auto_build:
	dh_auto_build -- $(if "`cat /proc/cpuinfo |grep 'cpu cores' |wc -l`" = "0",, -j`cat /proc/cpuinfo |grep 'cpu cores' |wc -l`)

override_dh_auto_install:
	dh_auto_install -- install $(if "`cat /proc/cpuinfo |grep 'cpu cores' |wc -l`" = "0",, -j`cat /proc/cpuinfo |grep 'cpu cores' |wc -l`)

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l`pwd`/debian/rabbitremotecontrol/opt/RabbitRemoteControl/lib:`pwd`/debian/rabbitremotecontrol/opt/RabbitRemoteControl/lib/`uname -m`-linux-gnu:$(LIB_PARAS)
