# Author: Kang Lin <kl222@126.com>

name: macos

on:
  workflow_call:
    outputs:
      name:
        description: "The artifact name"
        value: ${{ jobs.build_macos.outputs.name }}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build_macos:
    strategy:
      matrix:
        include:
          - VCPKG_TARGET_TRIPLET: x64-osx
            os: macos-15-intel

          - VCPKG_TARGET_TRIPLET: arm64-osx
            os: macos-15

          - VCPKG_TARGET_TRIPLET: arm64-osx
            os: macos-14

    # See: [About GitHub-hosted runners](https://docs.github.com/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners)
    # See: [Choosing the runner for a job](https://docs.github.com/actions/writing-workflows/choosing-where-your-workflow-runs/choosing-the-runner-for-a-job)
    # See: https://github.com/actions/runner-images/
    runs-on: ${{matrix.os}}
    defaults:
      run:
        shell: bash

    env:
      BUILD_DIR:   ${{github.workspace}}/build
      SOURCE_DIR:  ${{github.workspace}}/.cache/source
      TOOLS_DIR:   ${{github.workspace}}/.cache/tools
      INSTALL_DIR: ${{github.workspace}}/.cache/install_${{matrix.os}}
      qt_modules: ${{matrix.qt_modules}}
      VCPKGGITCOMMITID: 15e5f3820f0370f1ba7150853762cec0688cd396
      VCPKG_TARGET_TRIPLET: ${{matrix.VCPKG_TARGET_TRIPLET}}
      VCPKG_DEFAULT_TRIPLET: ${{matrix.VCPKG_TARGET_TRIPLET}}
      #VCPKG_MANIFEST_FEATURES: "freerdp;vnc;wol"
      artifact_name: build_macos
      RabbitRemoteControl_VERSION: v0.0.36
      BUILD_VERBOSE: OFF

    # Map the job outputs to step outputs
    outputs:
      name: ${{ env.artifact_name }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
    
      - name: Make directories
        run: |
          cmake -E make_directory ${{env.BUILD_DIR}}
          cmake -E make_directory ${{env.SOURCE_DIR}}
          cmake -E make_directory ${{env.TOOLS_DIR}}
          cmake -E make_directory ${{env.INSTALL_DIR}}

      - name: Cache installed
        uses: actions/cache@v4
        id: cache-installed
        with:
          path: |
            ${{env.INSTALL_DIR}}
          key: install_${{matrix.os}}

      - name: run-vcpkg
        if: false
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitCommitId: ${{env.VCPKGGITCOMMITID}}
          vcpkgDirectory: ${{env.SOURCE_DIR}}/vcpkg          

      - name: git clone RabbitCommon
        if: false
        working-directory: ${{env.SOURCE_DIR}}
        run: git clone https://github.com/KangLin/RabbitCommon.git
      
      - name: Run build_macos.sh
        run: |
          # 安装 GNU getopt
          brew install gnu-getopt
          export PATH="/opt/homebrew/opt/gnu-getopt/bin:/usr/local/opt/gnu-getopt/bin:$PATH"
          #export RabbitCommon_ROOT=${{env.SOURCE_DIR}}/RabbitCommon
          # See: https://formulae.brew.sh/
          #brew install autoconf automake libtool pkg-config freerdp libvncserver libssh zstd libpcap qt qtkeychain pcapplusplus
          #./Script/build_macos.sh --build=${{env.BUILD_DIR}} --install=${{env.INSTALL_DIR}} --source=${{env.SOURCE_DIR}}
          ./Script/build_linux.sh --build=${{env.BUILD_DIR}} --install=${{env.INSTALL_DIR}} --source=${{env.SOURCE_DIR}}
          if [ -f RabbitRemoteControl.zip ]; then
            mv RabbitRemoteControl.zip RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip
          fi
          if [ -f RabbitRemoteControl.dmg ]; then
            mv RabbitRemoteControl.dmg RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg
          fi

      - name: Update configure file
        if: ${{ !matrix.WITH_MACOSX_BUNDLE }}
        run: |
          if [ -f RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip ]; then
            unzip RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip
            echo "md5 RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip"
            md5 RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip
            MD5SUM=`md5 RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip|awk '{print $4}'`
            echo "RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip md5sum: ${MD5SUM}"
            RabbitRemoteControl.App/Contents/MacOS/RabbitRemoteControlApp \
              --file-name RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip \
              --md5 "${MD5SUM}" \
              -u "https://github.com/KangLin/RabbitRemoteControl/releases/download/v${{env.RabbitRemoteControl_VERSION}}/RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip;https://master.dl.sourceforge.net/project/rabbitremotecontrol/v${{env.RabbitRemoteControl_VERSION}}/RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip?viasf=1"
          fi
          if [ -f RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg ]; then
            echo "md5 RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg"
            md5 RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg
            MD5SUM=`md5 RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg|awk '{print $4}'`
            echo "RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg md5sum: ${MD5SUM}"
            RabbitRemoteControl.App/Contents/MacOS/RabbitRemoteControlApp \
              --file-name RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg \
              --md5 "${MD5SUM}" \
              -u "https://github.com/KangLin/RabbitRemoteControl/releases/download/v${{env.RabbitRemoteControl_VERSION}}/RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg;https://master.dl.sourceforge.net/project/rabbitremotecontrol/v${{env.RabbitRemoteControl_VERSION}}/RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg?viasf=1"
          fi

      - name: Update artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.artifact_name }}_${{matrix.os}}
          path: |
            ${{github.workspace}}/RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.zip
            ${{github.workspace}}/RabbitRemoteControl_${{env.RabbitRemoteControl_VERSION}}_${{matrix.os}}.dmg
